/*-----------------------
　全体
-----------------------*/
    html,body{
    width: 100%;
    margin: auto;
    background-image: url(images/background.gif);
    background-repeat: repeat;
    }
/*-----------------------
　ヘッダー
-----------------------*/

header{
    background-color: rgba(255, 255, 255, 0.692);
    height: 70px;
}

header p{
    color: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    line-height: 70px;
    text-align: center;
    margin: 0 0 0 30px;  
}

/*-----------------------
　メイン
-----------------------*/

.main{
    color: rgb(91, 168, 18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
}

.top_img{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 2% 0% 0% 0%;
}

/*-----------------------
　フッター
-----------------------*/

footer{
    background-color: rgba(0, 161, 54, 0.5);
    height: 50px;
    margin: 0;
}

footer p{
    color: white; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin: 0;
}